<div class="content">
  <div class="title1-1">
    <img src="../../../../assets/imgP.png" alt="principalImg" style="height: 200px; width:200px;">
    <p class="title1">Investiga el origen</p>
    <div class="span">
      <span>Plan de lección (20/02/21)</span>
    </div>
  </div>

  <div class="lorem">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem pariatur tenetur at modi illo aut cupiditate
    necessitatibus cum, quis nam unde iure eaque possimus magnam nobis esse fugiat laboriosam delectus?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem pariatur tenetur at modi illo aut cupiditate
    necessitatibus cum, quis nam unde iure eaque possimus magnam nobis esse fugiat laboriosam delectus?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem pariatur tenetur at modi illo aut cupiditate
    necessitatibus cum, quis nam unde iure eaque possimus magnam nobis esse fugiat laboriosam delectus?
  </div>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/t5nkZK5zWok" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <p class="name-video"> Nombre del video</p>
  </div>
  <div class="profile">
    <img src="./../../../assets/img2.jpg" alt="profile" srcset=""
      style="border-radius: 80%; width: 200px; height: 200px;">
    <p>Juliana Uribe <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas vitae odit nobis, quasi
      perspiciatis velit dignissimos placeat, possimus quibusdam molestias perferendis natus alias exercitationem
      iusto distinctio! Atque, culpa laudantium. At?</p>
  </div>
</div>
