*{
    font-family: 'Mulish', sans-serif;
}

app-nav{
    width: 100%;
    margin-top: -218px;
}

ul{ 
    display: flex;
    height: 60px;
    border:none;
    background-color: #0472A1;
    width: 100%;
}

.nav-tabs .nav-link{
    border: none;
}
.justify-content-center {
    justify-content: flex-end!important;
    align-items: center;
}
.btn-outline-primary{
    height: 40px;
    color: white;
    border-color: #26A346;
    background-color: #26A346;
}

.nav-tabs{
    border-bottom: none;
    
}

.nav-link.active{
    background-color: transparent!important;
    color: rgb(233, 217, 217)!important;
}

a{
    color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: white;
}

a:hover{
    color: rgb(233, 217, 217)!important;
}

.btn-outline-primary:hover{
    background-color: #1f8137;
}