<ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-center">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Inicio</a>
    <ng-template ngbNavContent>
    </ng-template>
  </li>

  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>¿Qué es?</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem>lorem</button>
      <button ngbDropdownItem>lorem</button>
      <button ngbDropdownItem>lorem ipsum</button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem>Lorem Ipsum</button>
    </div>
  </li>

  <li [ngbNavItem]="2">
    <a ngbNavLink>Noticias</a>
    <ng-template ngbNavContent>
      <p>noticias aquí: Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nam quo qui eos doloribus sequi
        quae tempora eveniet maxime explicabo. Porro, iusto accusamus id et beatae rerum vero odit alias!</p>
    </ng-template>
  </li>

  <li [ngbNavItem]="3">
    <a ngbNavLink>Tendencias</a>
    <ng-template ngbNavContent>
      <p>Tendencias aquí: Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nam quo qui eos doloribus sequi
        quae tempora eveniet maxime explicabo. Porro, iusto accusamus id et beatae rerum vero odit alias!</p>
    </ng-template>
  </li>

  <li [ngbNavItem]="4">
    <a ngbNavLink>Preguntas frecuentes</a>
    <ng-template ngbNavContent>
      <p>Preguntas aquí: Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nam quo qui eos doloribus sequi
        quae tempora eveniet maxime explicabo. Porro, iusto accusamus id et beatae rerum vero odit alias!</p>
    </ng-template>
  </li>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Accediste</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Bienvenido&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #longContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Accediste</h4>
      <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur
        et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>
  <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Acceder</button>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
